<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82239880835-ec8j6843j047tgosqahfv9tgljf0d1c5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82239880835-ec8j6843j047tgosqahfv9tgljf0d1c5</string>
	<key>API_KEY</key>
	<string>AIzaSyAq4SxYGmZWNUu7gRZosc0aglhAiIyjA0c</string>
	<key>GCM_SENDER_ID</key>
	<string>82239880835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cloneapp.whatsappclone</string>
	<key>PROJECT_ID</key>
	<string>flutter-whatsapp-b80a9</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-whatsapp-b80a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82239880835:ios:886e0dfbd45fefd7f9a5b6</string>
</dict>
</plist>